:root{
    --navColor: gray;
    --navHeight:56px;
    --navPadding:16px;
    --navtxtColor:pink;
    --navbtsColor: pink;
    --navbtColor:pink;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding: 0;
    background-color: var(--navColor);
    height: var(--navHeight);
    width: 100vw;
    position: fixed;
}

.navwrap{
    display: grid;
    grid-template-columns: 0.5fr 1fr 5fr 1fr;
    padding: 0 var(--navPadding);
    height: var(--navHeight);
}

.menubt{
    display: grid;
    place-content: center;
    margin: 0 16px 0 0;
    background-color: var(--navtxtColor);
}

.logo{
    display: grid;
    place-content: center;
    background-color: var(--navtxtColor);
}

 .searchbar{
    display: grid;
    grid-template-columns: 10fr repeat(2, 1fr);
    margin: 0 40px;
    padding: 0 50px;
    place-content: center;
    background-color: var(--navtxtColor);
 }

 .keyboard, .searchicon{
     place-self: flex-end;
 }
 
.navbtswrap{
    display: flex;
    justify-content: flex-end; 
}

 .navbts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--navbtsColor);
    width: 90%;
    height: 100%;
 }

 .navbt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    background-color: var(--navbtColor);
 }
 .navbt:last-child{
    margin-right: 0;
 }